@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*@font-face{/*NOT NEEDED IF ONLINE, ONLY NEEDED IF OFFLINE * /
	font-family: 'Montserrat', sans-serif;
	src: url(montserrat.woff2);
}*/
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  overflow: hidden scroll;
  background: white;
  /*scroll-behavior: smooth;
  scroll-snap-type: y mandatory;*/
}
#container{
  margin: 0 auto;
  /*max-width: 1000px;*/
  background: white;
  /*box-shadow: 0 0 5px 0 grey;*/
}
h1, h2, h3, h4, h5, h6{
  text-align: center;
}
nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: #f4f4f4e8;
  /*background: #d3d3d380;*/
  z-index: 1;
  font-family: sans-serif;
  outline: none;
}
nav > ul{
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 1000px;
  margin: 0 auto;
}
nav li{
  position: relative;
  width: 100%;
  border-top: 0;
  border-bottom: 0;
  color: gray;
  font-size: 1.2em;
  font-weight: bold;
  transition: color 0.25s;
}
/*nav li:hover {
  background: #80808080;
  color: white;
  cursor: pointer;
}*/
nav a{
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 5px;
  min-width: max-content;
  text-shadow: 0 0 10px #f4f4f4;
}
nav li::before {
  content: '';
  background-color: lightseagreen;
  width: 100%;
  height: 0;
  position: absolute;
  /*left: 0;
  bottom: 0;*/
  left: 0;
  bottom: unset;
  top: 0;
  transition: height 0.25s;
  pointer-events: none;
  z-index: -1;
}
nav li:hover{
  color: white;
}
nav li:hover::before {
  height: 100%;
  bottom: 0;
  top: unset;
}
section::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}
section::after {
  content: '';
  height: 5px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background: white;
}
section#about::before, section#education::before, section#certifications::before{
  background-color: #000000a0;
}
section#home::before{
  background-color: #ffffffd0;
}
section#skills::before{
  filter: sepia(1);
  background-color: #ffffffa0;
}
section#about, section#education h1, section#certifications h1/*, section#contact h1*/{
  color: white;
}
section#about{
  background-image: url(https://images.unsplash.com/flagged/photo-1556655678-9d4812e3fbe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80);
}
section#home{
  background-image: url(https://images.unsplash.com/photo-1504353888070-4ee702492320?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1622&q=80);
}
section#education{
  background-image: url(https://images.unsplash.com/photo-1489486501123-5c1af10d0be6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}
section#certifications{
  background-image: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}
section#skills{
  background-image: url(https://get.pxhere.com/photo/computer-writing-hand-pencil-coffee-black-and-white-keyboard-technology-white-mouse-cup-black-monochrome-blackandwhite-publicdomain-earbuds-drawing-multimedia-earphones-computer-keyboard-monochrome-photography-427292.jpg);
  /*background-image: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);*/
}
section#projects{
  background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}
section#contact{
  background: lightseagreen;
}
/*section#skills{
  background-image: url(https://images.unsplash.com/photo-1515787366009-7cbdd2dc587b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
}*/

section{
  /*scroll-snap-align: center;*/
  width: calc(100% - 100px);
  min-height: calc(100vh - 100px);
  height: max-content;
  position: relative;
  /*display: block;*/
  font-family: 'Montserrat', sans-serif;
  color: #272341;
  padding: 50px;
  padding-top: calc(1.2em + 40px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section > *{
  position: relative;
}
section#projects > *{
  float: left;
  margin-left: auto;
  width: max-content;
}
section#projects h1{
  width: 100%;
  color: white;
  text-shadow: 3px 5px darkslategray;
  filter: drop-shadow(0 0 10px white);
}
section#about article{
  line-height: 1.7em;
  text-align: justify;
  width: 50%;
  max-width: 400px;
  right: 50%;
  margin-left: auto;
}
section#education article{
  background: #ffffff;
  width: max-content;
  display: block;
  margin: 0 auto;
  padding: 10px 0 30px;
  border-radius: 20px;
}
section#about *{
  text-shadow: 0 0 10px gray;
}
section h1{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /*text-transform: uppercase;*/
  margin-block-start: 20px;
}
section a{
  color: lightseagreen;
  position: relative;
  text-decoration: none;
  font-weight:bold;
  transition: text-decoration 0.25s;
}
section a::after{
  content: '';
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: lightseagreen;
  transition: width 0.25s;
}
section a:hover::after{
  width: 100%;
}
.card{
  max-width: 650px;
  min-width: 572px;
  position: relative;
  width: 75%;
  margin: 10px auto;
  margin-top: calc(1em + 20px);
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  background: white;
  flex-direction: row;
  box-shadow: none;
  left: 0;
  transition: box-shadow 0.1s, left 0.25s;
}
.card:hover{
  padding-right: 10px;
  left: 10px;
  box-shadow: 0 0 7px darkgrey;
}
.card:hover::before{
  height: calc(100% + 1em + 21px);
  transition-duration: 1s;
  background: linear-gradient(#00fff1, lightseagreen);
}

.card::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: linear-gradient(darkgray, dimgray);
  /*box-shadow: 0 0 10px 10px white;*/
  /*background: linear-gradient(#00fff1, lightseagreen);*/
  height: 0;
  width: 4px;
  left: -13px;
  /*top: -0.85em;
  opacity: 0;
  transition: opacity 0.25s;*/
  bottom: calc(-10px - 0.85em);
  transition: height 0.25s;
}
.card.visible #period {
  height: 1.7em;
  transition-delay: 0s, 1s;
}
.card #period {
  position: absolute;
  display: block;
  left: -3px;
  color: dimgray;
  font-weight: bold;
  height: 0;
  text-align: left;
  line-height: 1.7em;
  bottom: 100%;
  width: max-content;
  overflow: hidden;
  transition: left 0.25s, height 1s;
}
.card #period::before {
  content: '\2501\2501   ';
  white-space: pre;
  color: darkgray;
}
.card:hover #period {
  color: lightseagreen;
  left: -13px;
}
.card:hover #period::before{
  color: #00fff1;
}
.card a:hover{
  color: lightseagreen;
}
.card img{
  width: 100px;
  float: left;
  align-self: center;
  margin-right: 10px;
}
.card:first-child img{
  clip-path: inset(0 5px);
}
.card div{
  /*width: calc(100% - 120px);*/
  padding-left: 10px;
  border-left: 1px solid lightgray;
}
.card h2, .card h3, .card a{
  color: #272341;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 10px;
}
section .card a::after{
  content: none;
}
span.highlight{
  color: lightseagreen;
}
.repo-card{
  max-width: 550px;
  /*height: 160px;*/
  width: calc(90% - 40px);
  position: inherit;
  display: block;
  margin: 20px auto;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  color: black;
  background: white;
  top: 100px;
  opacity: 0;
  transition: box-shadow 0.25s, top 1s, opacity 1s;
}
.repo-card.visible{
  top: 0;
  opacity: 1;
}
.repo-card:hover {
  box-shadow: 0 0 10px 2px black;
}
.repo-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(https://avatars1.githubusercontent.com/u/9919?s=200&v=4) calc(100% + 45px) calc(100% + 40px) no-repeat;
  filter: invert(1) opacity(0.1);
}
.repo-card img {
  width: 50px;
  float: left;
}
.repo-card h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: lightseagreen;
}
.repo-card > *{
  display: block;
}
.repo-card *[class^="repo"] {
  float: right;
  width: calc(100% - 70px);
  padding-left: 20px;
  text-align: left;
  overflow: hidden !important;
}
.repo-card > a.repo-link{
  color: black;
  text-overflow: ellipsis;
}
.repo-card > a.repo-link:empty{
  display: none;
}
.repo-card a::after{
  content: none;
}
.repo-card div{
  display: flex;
  width: 100%;
  justify-content: center;
}
.repo-card span.stars::before{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="octicon octicon-star" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z"></path></svg>') center no-repeat;
}
.repo-card span.forks::before{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="octicon octicon-repo-forked" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M5 3.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm0 2.122a2.25 2.25 0 10-1.5 0v.878A2.25 2.25 0 005.75 8.5h1.5v2.128a2.251 2.251 0 101.5 0V8.5h1.5a2.25 2.25 0 002.25-2.25v-.878a2.25 2.25 0 10-1.5 0v.878a.75.75 0 01-.75.75h-4.5A.75.75 0 015 6.25v-.878zm3.75 7.378a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm3-8.75a.75.75 0 100-1.5.75.75 0 000 1.5z"></path></svg>') center no-repeat;
}
.repo-card span.watchers::before{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="octicon octicon-eye" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"></path></svg>') center no-repeat;
}
.repo-card div > span::before{
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.repo-card div > span{
  position: relative;
  display: inline-block;
  margin: 10px 20px 0;
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  line-height: 1em;
}
section#home{
  display: flex;
  align-items: center;
}
#skills{
  text-align: center;
}
#skills article{
  display: inline-block;
  padding: 20px 0;
  width: max-content;
  margin: 0 auto;
}
/*section:nth-of-type(1) h1 {
  text-transform: none;
}*/
/*
#skills article{
  width: max-content;
  text-shadow: 0 0 5px lightgrey;
}
#skills > * {
  max-width: 40%;
  margin: 0 auto;
  left: 2%;
}*/
#skills .lang-icon{
  position: relative;
  width: 75px;
  height: 75px;
  padding-top: calc(1em + 5px);
  margin: 2px 10px;
  display: inline-block;
  filter: grayscale(1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: filter 0.25s;
}
#skills .lang-icon:hover{
  filter: grayscale(0);
  /*background-size: calc(70px - 1em);*/
}
#skills .lang-icon::before {
  content: attr(data-name);
  font-size: 1em;
  line-height: calc(1em + 5px);
  font-weight: bold;
  text-align: center;
  display: block;
  position: absolute;
  left: -10px;
  right: -10px;
  top: calc(1em + 5px);
  height: 0;
  overflow: hidden;
  transition: height 0.25s, top 0.25s;
  text-shadow: 0 0 5px white;
}
#skills .lang-icon:hover::before {
  height: calc(1em + 5px);
  top: 0;
}
form{
  margin: 0 auto;
  width: max-content;
  display: inline-block;
  /*left: 0;
  right: 0;
  position: absolute;*/
}
form *{
  margin-block-end: 10px;
}
span.response {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-weight: bold;
  padding: 0px 10px;
  height: 0;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.25s, padding 0.25s, margin 0.25s;
}
span.response.visible {
  height: max-content;
  padding: 7px;
  margin: 10px auto;
  border: 1px solid lightgray;
}
span.response.sending::after {
  content: '\2503';
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  animation: loading 1s infinite normal linear;
}
span.response.sending {
  background: dodgerblue;
}
span.response.failure {
  background: red;
}
span.response.success {
  background: forestgreen;
}
form label{
  text-align: left;
  float: left;
  min-width: 100px;
  padding: 11px 0;
  text-shadow: 1px 1px 5px white;
}
form input:not(:last-child){
  width: calc(100% - 124px);
  border-style: inset;
}
form input, textarea{
  float: right;
  padding: 10px;
  border-radius: 5px;
  border: 2px inset;
  font-family: Helvetica;
  resize: horizontal;
  font-size: 1em;
}
form *:invalid ~ input[type="submit"]{
  left: 0;
  top: 0;
  box-shadow: none;
}
form input[type="submit"]{
  display: block;
  margin: 0 25% 40px;
  width: 50%;
  border: initial;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
  transition: left 0.1s, top 0.1s, box-shadow 0.1s;
  left: -3px;
  top: -5px;
  /*text-shadow: 0 0 7px silver;*/
  text-transform: uppercase;  
  color: lightseagreen;
  background: white;
  box-shadow: 3px 5px 0px darkslategrey;
}
form input[type="submit"]:active{
  box-shadow: none;
  left: 0;
  top: 0;
}
form textarea{
  max-width: calc(100vw - 240px);
  min-width: calc(100% - 124px);
}
#social-links{
  width: max-content;
  margin: 0 auto;
  padding: 5px;
  background: white;
  border-radius: 5px;
}
#social-links a{
  cursor: pointer;
}
#social-links a:hover{
  color: var(--color);
}
#social-links a::after{
  display: none;
}

section#certifications article, section#contact{
  text-align: center;
}
article .certificate {
  display: inline-block;
  position: relative;
  width: min-content;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px 03px;
  background-color: white;
}
.certificate h3, .certificate h4{
  display: none;
  position: absolute;
  color: white;
  pointer-events: none;
  padding: 0 10px;
  width: calc(100% - 40px);
  display: block;
}
.certificate h3 {
  transition: top 0.2s;
  top: 20px;
  visibility: hidden;
}
.certificate h4 {
  transition: bottom 0.2s;
  bottom: calc(1.7em + 43px);
  margin: 0;
  visibility: hidden;
}
.certificate h4::before {
  content: '- ';
}
.certificate img:hover + h3, img:hover ~ h4{
  visibility: visible;
  /*transition: visibility 0.25s;*/
}
.certificate img:hover + h3 {
  top: 0;
}
.certificate img:hover ~ h4{
  bottom: calc(1.7em + 23px);
}
.certificate img {
  max-width: 300px;
  transition: filter 0.1s;
}
.certificate img:hover {
  filter: brightness(0.3);
}
.certificate a {
  text-align: center;
  padding: 5px 0;
  margin-top: 5px;
  display: block;
  width: 100%;
  background: linear-gradient(lightseagreen, lightseagreen) no-repeat;
  background-position: 0 2em;
  transition: text-decoration 0.25s 0.25s, background-position 0.25s 0s, color 0.25s 0s;
}
.certificate a:hover {
  background-position: 0 0;
  color: white;
  transition-delay: 0s, 0.25s, 0.25s;
}
footer {
  display: block;
  width: 100%;
  margin: 20px 0;
  font-size: 1.1em;
  font-family: 'Montserrat', serif;
  text-align: center;
  color: dimgray;
}
footer #love {
  color: crimson;
}
article ul {
  /*list-style-type: none;*/
  padding-inline-start: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
}
article li {
  text-align: left;
}
ul ul, ul ul > li {
  letter-spacing: 0.5px;
  display: inline-block;
  color: darkcyan;
  letter-spacing: 1px;
  text-shadow: -1px 1px grey;
}
article > ul > li {
  margin: 10px 0;
  font-size: 1.2em;
}
ul ul > li:not(:last-child)::after {
  content: ', ';
  color: #272341;
  text-shadow: none;
}

@keyframes loading{
  0%  {transform: rotate(0deg);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}

/*section#home, #about, #education, #projects, #skills, #certifications{display: none;}*/
@media only screen and (max-width: 750px) {
  nav{
    height: 100vh;
    width: 50vw;
    background: #d3d3d3;
    left: -50vw;
    transition: left 0.5s;
    box-shadow: 0 0 0 0;
  }
  nav:focus{
    left: 0;
    width: min-content;
    box-shadow: 1px 0 10px dimgrey;
  }
  nav::before{
    content: '\2630';
    display: block;
    font-family: cursive;
    position: relative;
    padding: 5px 5px;
    font-size: 2em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    color: dimgray;
    cursor: pointer;
    right: -60px;
    text-shadow: 0 0 7px darkcyan;
  }
  nav:focus::before{
    content: '\2715';
    pointer-events: none;
  }
  nav ul{
    flex-direction: column;
  }
  nav li{
    min-width: 50vw;
    color: dimgray;
  }
  nav a{
    transition: padding 0.5s;
  }
  nav:focus a{
    padding: 20px 75px;
  }
  nav:focus ~ section{
    filter: blur(3px);
    pointer-events: none;
  }
  nav li::before{
    width: 0;
    height: 100%;
    left: unset;
    right: 0;
    transition: width 0.25s;
  }
  nav li:hover::before{
    width: 100%;
    left: 0;
    right: unset;
  }
  .card{
    min-width: unset;
    width: 90%;
  }
  section h1{
    margin-block-start: 0;
  }
  section#education article{
    width: unset;
    padding: 10px;
  }
  section#projects > *{
    float: unset;
    margin: unset;
    width: unset;
  }
  section#projects{
    background-position: left;
  }
  #skills article{
    width: unset;
  }
}

@media only screen and (max-width: 650px) {
  .card{
    flex-direction: column;
    padding-right: 10px;
    margin-top: calc(1em + 20px);
    left: 10px;
    transition: none;
  }
  .card:hover{
    left: 10px;
  }
  .card img{
    width: auto;
    height: 100px;
    margin-right: unset;
    margin-bottom: 10px;
  }
  .card div{
    width: 100%;
    border-left: unset;
    border-top: 1px solid lightgray;
    padding-left: unset;
    padding-top: 10px;
    text-align: center;
  }
  .card h2, .card h3{
    text-align: center;
  }
  article .card::before{
    bottom: calc(-10px - 0.85em);
    height: calc(100% + 1em + 20px);
    transition: none;
  }
  .card #period {
    opacity: 1;
    transition: none;
  }
  article .card::before{
    width: 5px;
  }
  #skills .lang-icon{
    width: 50px;
    height: 50px;
    padding-top: calc(0.8em + 2px);
  }
  /*#skills .lang-icon:hover{
    background-size: calc(48px - 0.8em);
  }*/
  #skills .lang-icon::before{
    font-size: 0.8em;
    line-height: calc(0.8em + 2px);
  }
  form{
    width: 100%;
  }
  span.response{
    font-size: 1.2em;
  }
  form input:not(:last-child), textarea#message{
    width: calc(100% - 24px);
    font-size: 1.2em;
    max-width: unset;
    min-width: unset;
    float: left;
    resize: none;
  }
  form label{
    width: 100%;
    display: block;
    font-size: 1.2em;
    margin-block-end: 0;
  }
  form input[type="submit"]{
    font-size: 1.5em;
  }
  section#about{
    background-position: left;
  }
  section#about article{
    width: unset;
    right: 0;
    margin: 0;
    max-width: unset;
  }
  .card #period{
    left: -13px;
  }
  section#education article{
    padding: 20px;
  }
}
@media only screen and (max-width: 550px) {
  section{
    padding: 20px;
    width: calc(100% - 40px);
    height: max-content;
    min-height: calc(100vh - 40px);
  }
  form{
    width: calc(100% - 60px);
    margin: 0 30px 30px;
  }
  .repo-card img{
    width: unset;
    height: 1.8em;
  }
  .repo-card > h2{
    padding-left: 10px !important;
  }
  .repo-card *[class^="repo"]{
    float: unset;
    width: unset;
    padding-left: unset;
  }
  .repo-card div > span{
    margin: 10px 15px 0;
  }
}
@media only screen and (max-width: 368px) {
  article .certificate{
    width: calc(100% - 28px);
  }
  .certificate img{
    width: 100%;
  }
}
