@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --page-margin: 1cm;
}
body{
  margin: 10px auto;
  width: max-content;
  background: white;
}
#container{
  width: calc(21cm - var(--page-margin) * 2);
  /*height: calc(29.7cm - 2cm); padding removal*/
  padding: var(--page-margin);
  margin: 0 auto;
  box-shadow: 0 0 5px black;
}
header{
  padding: 20px 30px;
  /*height: max-content;*/
  height: calc(150px + 6px);
  display: inline-block;
  width: calc(100% - 60px);
  background: aliceblue;
  text-align: right;
  position: relative;

  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}
header img{
  display: block;
  float: left;
  position: relative;
  border-radius: 100px;
  border: 3px solid darkgray;
}
header span{
  position: relative;
  right: 0;
}
span#name, span#job-title{
  text-transform: uppercase;
  font-family: Helvetica;
  font-weight: bold;
}
span#email, span#mobile, span#address{
  font-style: italic;
}
span#name{
  font-size: 1.6em;
  text-transform: uppercase;
  display: block;
  margin-left: 156px;
  margin-top: calc(78px - 1.6em);
}
span#address{
  font-family: sans-serif;
  font-size: 0.9em;
  color: dimgray;
}

main{
  position: relative;
  padding: 20px 30px 0;
}
section {
  font-family: 'Montserrat', Helvetica;
}
section h2{
  font-variant: small-caps;
  margin: 0;
  position: relative;
  /*margin-block-end: 20px;*/
  color: darkslategray;
  font-family: Helvetica;
}
section h2::after {
  content: '';
  bottom: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  border-bottom: 1px solid currentColor;
}
section a{
  text-decoration: none;
  color: currentColor;
}
section ul, section ol {
  padding-inline-start: 30px;
}
section > ul{
  font-weight: bold;
  margin-block-start: 10px;
  margin-block-end: 10px;
}
section > ul > li, section dt{
  margin-block-start: 10px;
}
ul span {
  font-family: Helvetica;
  font-size: 0.9em;
  float: right;
  font-weight: normal;
  color: dimgray;
}
section ol{
  font-weight: normal;
}
ul ul{
  padding-inline-start: 0;
  list-style-type: none;
  display: inline;
}
ul ul > li{
  font-weight: normal;
  display: inline-block;
}
ul ul > li:not(:last-child)::after{
  content: ', ';
}
#container + button{
  float: left;
}
button + button{
  float: right;
}
button{
  padding: 10px;
  width: 25%;
  display: block;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 3px;
  background: dodgerblue;
  border: 0;
  color: white;
  font-weight: bold;
  float: left;
}
dl{
  padding-inline-start: 30px;
}
dt{
  display: list-item;
}
section:not(:last-child) dt{
  font-weight: bold;
}
section:nth-of-type(3) div{
  break-inside: avoid;
}
@media print {
  body{
    margin: 0;
  }
  #container{
    box-shadow: none;
    padding: 0;
  }
  button{
    display: none;
  }
  section:nth-of-type(3) div{
    widows: 1;
    orphans: 1;
  }
}
@page{
  size: A4 portrait;
  /*values written below are customised according to --page-margin variable*/
  margin: 1.3cm 1cm 0.5cm 1cm;
}
